@import "~base/skin/skinVariables";


// changed the primary color of the storefront
:root{
    --color-primary: #a21c19;
    --skin-banner-background-color-2: #2c5f63;
    --skin-banner-background-color-1: #2c5f63;
}