@import "~base/homePage";

// made changes to the home page which is different from page designer, this is for content asset/slot
.home-email-signup {
    background-color: var(--skin-banner-background-color-2);
}

.hp-product-grid .hp-product-content span.largeText {
    font-size: 3.5em;
    font-weight: 200;
    color: var(--skin-primary-color-1);
}



